.movieList {
    margin-bottom: 30px;
}

.movieList h2 {
    margin: 0px 0px 0px 30px;
}

.movieList--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieList--list {
    transition: all ease 0.3s;
}

.movieList--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieList--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieList--item img:hover {
    transform: scale(1);
}

.movieList--before, .movieList--after {
    z-index: 100;
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieList--before {
    left: 0;
}

.movieList--after {
    right: 0;
}

.movieList:hover .movieList--before,
.movieList:hover .movieList--after {
    opacity: 1;
}

@media (max-width: 760px) {
    .movieList--before,
    .movieList--after {
        opacity: 1;
    }
}